@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans:ital@0;1&display=swap');

* {
  padding: 0 0;
  box-sizing: border-box;
  margin: 0 0;
}

html { scroll-behavior: smooth; }

header {
  margin: 0 0;
  height: 25vh;
}

header * { background-color: #01c8d0; }

header, h1, h2, h3 { font-family: Merriweather, serif; }

nav {
  height: 12vh;
  width: auto;
  font-size: 30px;
}

main { padding: 0 15vw; }

p, li { font-family: 'Noto Sans', sans-serif; }

/* TODO: indent li's, not center*/
li { text-align: center; }


hr {
  border: 5px solid;
  border-radius: 3px;

}

a:link { color: #a04e44; }
a:hover{
  font-weight: bold;
  text-decoration: underline dotted;
}
a:active { color: purple; }
a:visited { color: gray; }

.big-and-bold {
  font-weight: bold;
  font-size: 7vh;
}

.align-right-with-padding {
  padding-right: 5%;
  text-align: right;
}

.page-header-title {
  color: hsla(0, 00%, 100%, 1);
  text-align: center;
  height: 10vh;
}
/* IDEA: check vp max for vertical viewing */
.spacer-sm {
  height: 6vh;
  width: auto;
}

.spacer-bg {
  height: 25vh;
  width: auto;
}
