@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html { scroll-behavior: smooth; }

footer {
  text-align: center;
  padding-top: 2vh;
  color: #fff;
  height: 10vh;
  width: 100%;
}

/* Nav doesn't inherit bg color so "*" selector used */
header *, footer { background-color: #006272; }

header, h1, h2, h3 { font-family: Merriweather, serif; }

header {
  margin: 0 0;
  height: 16vh;
}

h2, h3, p, li {
  line-height: 1.5em;
}

p, li {
  font-family: 'Noto Sans', sans-serif;
}

nav {
  height: 36px;
  width: 100%;
  font-size: 30px;
  padding-right: 9.5vw;
  padding-bottom: 1.5em;
  margin-top: 24px;
  text-align: right;
}

/* spcacing out links in nav */
nav > a { margin: 0 .3em 0;}

/* spaces out header and footer from footer */
main { padding: 25vh 10vw 10vh; }

/* indentation for li */
li {
  margin-left: 1em;
  padding-left: 2em;
}


hr {
  border: 5px solid;
  border-radius: 3px;
  color: #808080;
}

a:link { color: #FBB93E; }
a:hover {
  font-weight: bold;
  text-decoration: underline dotted;
}
a:active { color: purple; }

.big-and-bold, .bold-medium {
  font-weight: bold;
}

.big-and-bold { font-size: 46px; }
.bold-medium { font-size: 26px;}

.page-header-title {
  color: hsla(0, 00%, 100%, 1);
  text-align: center;
  height: 9vh;
}

/* IDEA: check vp max for vertical viewing */
.spacer-sm {
  height: 6vh;
  width: auto;
}

#home {
	height: 30vh;
  width: 80vw;
}

/* greeting leaves 2 black lines under it */
#dynamic-greeting {
  position: relative;
  bottom: 2em;
}

/* moves intro contents to be beside intro-picure */
#intro-content {
	position: relative;
	left: 45%;
	bottom: 100%;
  width: 50vw;
}


#intro-picture {
  width: 25vw;
  position: relative;
  left: 10%;
  bottom: 15%;
}


#about, #contact {
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
}
